SECRET_KEY=your_secret_key_here
DATABASE_URL=postgres://user:password@ep-your-endpoint-123456.region.aws.neon.tech/neondb
REDIS_URL=rediss://default:password@your-upstash-redis-endpoint.upstash.io:32450
